<p id="notice"><%= notice %></p>

<h1>Listing Articles</h1>

      
      
    <% @articles.each do |article| %>
      
      <div class="row">
        <h2> <%= article.name %></h2>
        <%= article.description %><br>
        
        <%= link_to 'Edit', edit_article_path(article) %>
        </div>
      
    <% end %>
  


<br>

<%= link_to 'New Article', new_article_path %>
